# User settings
user:
  username: "your name"
  home_directory: "/home/user name"
  name: "your name"
  email: "your name@mail.com"

# System settings
system:
  timezone: "America/Sao_Paulo"
  keyboard_layout: "br-abnt2"
  preferred_shell: "zsh"

# Path settings
paths:
  dotfiles_directory: "/home/user name/.dotfiles"
  log_file: "/home/user name/.dotfiles/install.log"
  vault_directory: "/home/user name/ObsidianVault"
  backup_directory: "/home/user name/dotfiles_backup"
  desktop_directory: "/home/user name/.local/share/applications"

# Applications and tools settings
tools:
  - name: "neovim"
    dependencies:
      - "apt"
    configuration:
      config_repo: "https://github.com/user/neovim-config.git"

  - name: "vscode"
    dependencies:
      - "apt"
    configuration:
      theme: "GitHub Dark"
      font_family: "JetBrains Mono"
      font_size: 13

  - name: "obsidian"
    dependencies:
      - "apt"
    configuration:
      vault_directory: "/home/user name/ObsidianVault"

  - name: "microsoft-edge"
    dependencies:
      - "curl"

  - name: "calibre"
    dependencies:
      - "apt"

  - name: "cursor_ide"
    dependencies:
      - "apt"

  - name: "wezterm"
    dependencies:
      - "apt"

  - name: "python"
    dependencies:
      - "apt"
    configuration:
      version: "3.10.0"

  - name: "docker"
    dependencies:
      - "apt"
    configuration:
      compose_version: "v2"

  - name: "chrome"
    dependencies:
      - "apt"

  - name: "1password"
    dependencies:
      - "apt"

  - name: "zsh"
    dependencies:
      - "apt"

  - name: "whatsapp"
    dependencies:
      - "snap"

  - name: "fonts"
    dependencies:
      - "manual"
    configuration:
      list:
        - "FiraCode"
        - "JetBrainsMono"

  - name: "postman"
    dependencies:
      - "snap"
    configuration:
      create_desktop_icon: true

# Backup settings
backup:
  enabled: true
  directory: "/home/user name/dotfiles_backup"

# Security settings
security:
  tool: "1pass"
